* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #1e1e1e;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background: #DDD;
  border-radius: 12px;
}

main {
  padding: 90px 0 20px;
}

header {
  background-color: #222;
  border-bottom: 2px solid #444;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: background-color 0.3s ease-in-out;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.header-content img {
  height: 80px;
  margin: 5px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: #fff;
}

header.scrolled {
  background-color: #222;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}