.section4-all {
    background-color: #333;
    padding-top: 20px;
    margin-top: 10px;
    padding-bottom: 50px;
}

.section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
}

.section4-products {
    position: relative;
    margin: 20px;
    width: 300px;
    overflow: hidden;
    cursor: pointer;
    height: 300px;
    border: 1px solid #FFF;
}

.section4-products img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.section4-products:hover img {
    transform: scale(1.05);
}