.section5{
    height: fit-content;
}

.marcas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
}

.marcas img {
    padding: 10px;
}